<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Poll</title>
</head>
<body class="poll">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">StrawPovre</h3>
                        <div class="nav nav-masthead">
                            <div class="nav-link"><%= user %></div>
                        </div>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Question 1</h1>
                    <input type="text" placeholder="Answer" name="answer" class="form-control mb-3">
                    <button class="btn btn-success">Send</button>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <div class="badge badge-warning text-white p-2">Question 1 / XX</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('/<%= poll.id %>');

    socket.on('server:poll:join', packet => {
        console.log(packet);
    });

    /**
     * répondre à une question
     * socket.emit('question.answer', {
     *      question: question.id,
     *      answer: 'My answer'
     * });
     */
</script>